# Make vim the default editor
export EDITOR="subl";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";
export FIGNORE='$FIGNORE:.egg-info:.dist-info:.sublime-project:.sublime-workspace'

################################################################################
# Python utilitiy scripts
################################################################################
# Shell autocomplete
export PYTHONSTARTUP="$HOME/.pyrc"

# Prevent global instalation of python packages via pip
export PIP_REQUIRE_VIRTUALENV=true

# Don't create .pyc files
export PYTHONDONTWRITEBYTECODE=true

# Colorize the "ls" comand output
export CLICOLOR=1
export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx

export WORKDAY_AUTH=''

export PATH="/usr/local/lib/python3.6/site-packages:$PATH"

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

export PATH="/Users/gerard/.chefdk/gem/ruby/2.3.0/bin:$PATH"
export EDITOR=vim

export PROD_TOKEN=''
export STAGE_TOKEN=''
export PDA_TOKEN=''

export JAVA_HOME="$(/usr/libexec/java_home -v 1.8)"
export PATH="/opt/apache-maven-3.6.0/bin:$PATH"
export CATALINA_HOME="/usr/local/opt/tomcat@8/libexec"

export DELUGE_DIR="/Applications/Deluge.app/Contents/MacOS/"

export PYENV_VIRTUALENV_DISABLE_PROMPT=1

export PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig"
export LDFLAGS="-L/usr/local/opt/zlib/lib"
export CPPFLAGS="-I/usr/local/opt/zlib/include"

export S3KEYRING_INI=srv/s3keyring.ini

export GITHUB_BF_TOKEN=""
export CLOUDSDK_PYTHON=/usr/local/bin/python3

export PATH="$HOME/bin:$PATH"
